<nav id="nav-bar">
    <div class="head-nav-bar">
        <svg width="100%" height="100%" viewBox="0 0 270 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <g transform="matrix(1,0,0,1,12,-0.001)">
                <g transform="matrix(1,0,0,1,0,-23.999)">
                    <rect x="174" y="24" width="6" height="5.999" style="fill:rgb(202,25,58);"/>
                </g>
                <g transform="matrix(-1,0,0,1,354,-12)">
                    <rect x="174" y="18" width="6" height="6" style="fill:rgb(202,25,58);"/>
                </g>
                <g transform="matrix(-1,0,0,1,354,0)">
                    <rect x="174" y="12" width="6" height="6" style="fill:rgb(202,25,58);"/>
                </g>
                <g transform="matrix(-1,0,0,1,354,12)">
                    <rect x="174" y="6" width="6" height="6" style="fill:rgb(202,25,58);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,24)">
                    <rect x="174" y="0" width="6" height="6" style="fill:rgb(202,25,58);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,-23.999)">
                    <rect x="192" y="24" width="6" height="5.999" style="fill:rgb(199,19,65);"/>
                </g>
                <g transform="matrix(-1,0,0,1,366,0)">
                    <rect x="180" y="12" width="6" height="6" style="fill:rgb(201,23,60);"/>
                </g>
                <g transform="matrix(-1,0,0,1,390,-12)">
                    <rect x="192" y="18" width="6" height="6" style="fill:rgb(199,19,65);"/>
                </g>
                <g transform="matrix(-1,0,0,1,378,0)">
                    <rect x="186" y="12" width="6" height="6" style="fill:rgb(200,21,63);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,24)">
                    <rect x="192" y="0" width="6" height="6" style="fill:rgb(199,19,65);"/>
                </g>
                <g transform="matrix(-1,0,0,1,390,0)">
                    <rect x="192" y="12" width="6" height="6" style="fill:rgb(199,19,65);"/>
                </g>
                <g transform="matrix(-1,0,0,1,390,12)">
                    <rect x="192" y="6" width="6" height="6" style="fill:rgb(199,19,65);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,-23.999)">
                    <rect x="204" y="24" width="5.999" height="5.999" style="fill:rgb(197,15,69);"/>
                </g>
                <g transform="matrix(-1,0,0,1,414,-12)">
                    <rect x="204" y="18" width="6" height="6" style="fill:rgb(197,15,69);"/>
                </g>
                <g transform="matrix(-1,0,0,1,414,0)">
                    <rect x="204" y="12" width="6" height="6" style="fill:rgb(197,15,69);"/>
                </g>
                <g transform="matrix(-1,0,0,1,414,12)">
                    <rect x="204" y="6" width="6" height="6" style="fill:rgb(197,15,69);"/>
                </g>
                <g transform="matrix(-1,0,0,1,450,0)">
                    <rect x="222" y="12" width="6" height="6" style="fill:rgb(194,9,76);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,24)">
                    <rect x="210" y="0" width="6" height="6" style="fill:rgb(196,13,72);"/>
                </g>
                <g transform="matrix(-1,0,0,1,450,-12)">
                    <rect x="222" y="18" width="6" height="6" style="fill:rgb(194,9,76);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,24)">
                    <rect x="216" y="0" width="6" height="6" style="fill:rgb(195,11,74);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,-23.999)">
                    <rect x="222" y="24" width="5.999" height="5.999" style="fill:rgb(194,9,76);"/>
                </g>
                <g transform="matrix(-1,0,0,1,450,12)">
                    <rect x="222" y="6" width="6" height="6" style="fill:rgb(194,9,76);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,-23.999)">
                    <rect x="234" y="24" width="6" height="5.999" style="fill:rgb(192,6,81);"/>
                </g>
                <g transform="matrix(-1,0,0,1,474,-12)">
                    <rect x="234" y="18" width="6" height="6" style="fill:rgb(192,6,81);"/>
                </g>
                <g transform="matrix(-1,0,0,1,474,0)">
                    <rect x="234" y="12" width="6" height="6" style="fill:rgb(192,6,81);"/>
                </g>
                <g transform="matrix(-1,0,0,1,474,12)">
                    <rect x="234" y="6" width="6" height="6" style="fill:rgb(192,6,81);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,24)">
                    <rect x="234" y="0" width="6" height="6" style="fill:rgb(192,6,81);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,-23.999)">
                    <rect x="240" y="24" width="5.999" height="5.999" style="fill:rgb(191,4,83);"/>
                </g>
                <g transform="matrix(-1,0,0,1,486,0)">
                    <rect x="240" y="12" width="6" height="6" style="fill:rgb(191,4,83);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,24)">
                    <rect x="240" y="0" width="5.999" height="6" style="fill:rgb(191,4,83);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,-23.999)">
                    <rect x="246" y="24" width="6" height="5.999" style="fill:rgb(190,2,86);"/>
                </g>
                <g transform="matrix(-1,0,0,1,498,0)">
                    <rect x="246" y="12" width="6" height="6" style="fill:rgb(190,2,86);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,24)">
                    <rect x="246" y="0" width="6" height="6" style="fill:rgb(190,2,86);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,-12)">
                    <rect x="252" y="18" width="6" height="6" style="fill:rgb(189,0,88);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,12.001)">
                    <rect x="252" y="6" width="6" height="5.999" style="fill:rgb(189,0,88);"/>
                </g>
            </g>
            <g transform="matrix(-1,0,0,1,336,-0.0005)">
                <rect class="pixel" x="162" y="12" width="6" height="6"/>
            </g>
            <g>
                <g transform="matrix(1,0,0,1,0,-23.999)">
                    <rect x="30" y="24" width="6" height="5.999" style="fill:rgb(223,65,8);"/>
                </g>
                <g transform="matrix(-1,0,0,1,66,-12)">
                    <rect x="30" y="18" width="6" height="6" style="fill:rgb(223,65,8);"/>
                </g>
                <g transform="matrix(-1,0,0,1,66,0)">
                    <rect x="30" y="12" width="6" height="6" style="fill:rgb(223,65,8);"/>
                </g>
                <g transform="matrix(-1,0,0,1,66,12)">
                    <rect x="30" y="6" width="6" height="6" style="fill:rgb(223,65,8);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,24)">
                    <rect x="30" y="0" width="6" height="6" style="fill:rgb(223,65,8);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,-23.999)">
                    <rect x="102" y="24" width="6" height="5.999" style="fill:rgb(213,47,30);"/>
                </g>
                <g transform="matrix(-1,0,0,1,210,-12)">
                    <rect x="102" y="18" width="6" height="6" style="fill:rgb(213,47,30);"/>
                </g>
                <g transform="matrix(-1,0,0,1,210,0)">
                    <rect x="102" y="12" width="6" height="6" style="fill:rgb(213,47,30);"/>
                </g>
                <g transform="matrix(-1,0,0,1,210,12)">
                    <rect x="102" y="6" width="6" height="6" style="fill:rgb(213,47,30);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,24)">
                    <rect x="102" y="0" width="6" height="6" style="fill:rgb(213,47,30);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,-23.999)">
                    <rect x="108" y="24" width="6" height="5.999" style="fill:rgb(212,45,32);"/>
                </g>
                <g transform="matrix(-1,0,0,1,222,0)">
                    <rect x="108" y="12" width="6" height="6" style="fill:rgb(212,45,32);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,24)">
                    <rect x="108" y="0" width="6" height="6" style="fill:rgb(212,45,32);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,-23.999)">
                    <rect x="114" y="24" width="5.999" height="5.999" style="fill:rgb(211,44,35);"/>
                </g>
                <g transform="matrix(-1,0,0,1,234,0)">
                    <rect x="114" y="12" width="6" height="6" style="fill:rgb(211,44,35);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,24)">
                    <rect x="114" y="0" width="5.999" height="6" style="fill:rgb(211,44,35);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,-23.999)">
                    <rect x="120" y="24" width="6" height="5.999" style="fill:rgb(210,42,37);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,24)">
                    <rect x="120" y="0" width="6" height="6" style="fill:rgb(210,42,37);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,-23.999)">
                    <rect x="132" y="24" width="5.999" height="5.999" style="fill:rgb(208,38,42);"/>
                </g>
                <g transform="matrix(-1,0,0,1,270,-12)">
                    <rect x="132" y="18" width="6" height="6" style="fill:rgb(208,38,42);"/>
                </g>
                <g transform="matrix(-1,0,0,1,270,0)">
                    <rect x="132" y="12" width="6" height="6" style="fill:rgb(208,38,42);"/>
                </g>
                <g transform="matrix(-1,0,0,1,270,12)">
                    <rect x="132" y="6" width="6" height="6" style="fill:rgb(208,38,42);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,24)">
                    <rect x="132" y="0" width="5.999" height="6" style="fill:rgb(208,38,42);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,24)">
                    <rect x="138" y="0" width="6" height="6" style="fill:rgb(208,36,44);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,24)">
                    <rect x="144" y="0" width="6" height="6" style="fill:rgb(207,34,46);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,24)">
                    <rect x="150" y="0" width="5.999" height="6" style="fill:rgb(206,32,49);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,-23.999)">
                    <rect x="0" y="24" width="6" height="5.999" style="fill:rgb(226,72,0);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,-12)">
                    <rect x="0" y="18" width="6" height="6" style="fill:rgb(226,72,0);"/>
                </g>
                <rect x="0" y="12" width="6" height="6" style="fill:rgb(226,72,0);"/>
                <g transform="matrix(1,0,0,1,0,12.001)">
                    <rect x="0" y="6" width="6" height="5.999" style="fill:rgb(226,72,0);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,24)">
                    <rect x="0" y="0" width="6" height="6" style="fill:rgb(226,72,0);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,-23.999)">
                    <rect x="6" y="24" width="5.999" height="5.999" style="fill:rgb(225,70,2);"/>
                </g>
                <g transform="matrix(-1,0,0,1,18,0)">
                    <rect x="6" y="12" width="6" height="6" style="fill:rgb(225,70,2);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,-23.999)">
                    <rect x="12" y="24" width="6" height="5.999" style="fill:rgb(224,68,5);"/>
                </g>
                <g transform="matrix(-1,0,0,1,30,0)">
                    <rect x="12" y="12" width="6" height="6" style="fill:rgb(224,68,5);"/>
                </g>
                <g transform="matrix(-1,0,0,1,42,-12)">
                    <rect x="18" y="18" width="6" height="6" style="fill:rgb(223,66,7);"/>
                </g>
                <g transform="matrix(-1,0,0,1,150,-12)">
                    <rect x="72" y="18" width="6" height="6" style="fill:rgb(217,55,21);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,24)">
                    <rect x="72" y="0" width="6" height="6" style="fill:rgb(217,55,21);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,-23.999)">
                    <rect x="78" y="24" width="5.999" height="5.999" style="fill:rgb(216,54,22);"/>
                </g>
                <g transform="matrix(-1,0,0,1,162,0)">
                    <rect x="78" y="12" width="6" height="6" style="fill:rgb(216,54,22);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,24)">
                    <rect x="78" y="0" width="5.999" height="6" style="fill:rgb(216,54,22);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,-23.999)">
                    <rect x="84" y="24" width="6" height="5.999" style="fill:rgb(216,52,24);"/>
                </g>
                <g transform="matrix(-1,0,0,1,174,0)">
                    <rect x="84" y="12" width="6" height="6" style="fill:rgb(216,52,24);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,24)">
                    <rect x="84" y="0" width="6" height="6" style="fill:rgb(216,52,24);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,-23.999)">
                    <rect x="90" y="24" width="6" height="5.999" style="fill:rgb(215,50,26);"/>
                </g>
                <g transform="matrix(-1,0,0,1,186,12)">
                    <rect x="90" y="6" width="6" height="6" style="fill:rgb(215,50,26);"/>
                </g>
                <g transform="matrix(-1,0,0,1,90,-12)">
                    <rect x="42" y="18" width="6" height="6" style="fill:rgb(221,62,12);"/>
                </g>
                <g transform="matrix(-1,0,0,1,90,0)">
                    <rect x="42" y="12" width="6" height="6" style="fill:rgb(221,62,12);"/>
                </g>
                <g transform="matrix(-1,0,0,1,90,12)">
                    <rect x="42" y="6" width="6" height="6" style="fill:rgb(221,62,12);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,-23.999)">
                    <rect x="48" y="24" width="6" height="5.999" style="fill:rgb(220,61,13);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,24)">
                    <rect x="48" y="0" width="6" height="6" style="fill:rgb(220,61,13);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,-23.999)">
                    <rect x="54" y="24" width="6" height="5.999" style="fill:rgb(219,60,15);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,24)">
                    <rect x="54" y="0" width="6" height="6" style="fill:rgb(219,60,15);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,-23.999)">
                    <rect x="60" y="24" width="5.999" height="5.999" style="fill:rgb(218,58,17);"/>
                </g>
                <g transform="matrix(1,0,0,1,0,24)">
                    <rect x="60" y="0" width="5.999" height="6" style="fill:rgb(218,58,17);"/>
                </g>
            </g>
        </svg>        
    </div>
    <div class="link-container">
        <a href="/u/home">My Uploads</a>
        <a href="/u/shared">Shared with me</a>
    </div>
    <div id="user-dropdown" class="dropdown"><%=user%>
        <div class="user-icon">
            <svg width="100%" height="100%" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                <path d="M4.5,7.652L4.5,8.153C4.5,8.397 4.323,8.606 4.082,8.646L3.589,8.728C2.384,8.929 1.5,9.972 1.5,11.194C1.5,11.36 1.5,11.475 1.5,11.496C1.5,11.966 2,12 2,12L10,12C10,12 10.5,11.966 10.5,11.496L10.5,11.194C10.5,9.972 9.616,8.929 8.411,8.728L7.918,8.646C7.677,8.606 7.5,8.397 7.5,8.153L7.5,7.649C8.419,6.907 9.474,5.606 9.497,3.533C9.519,1.616 7.98,0.042 6.063,0.021C4.146,-0.001 2.572,1.538 2.551,3.455C2.527,5.562 3.587,6.896 4.5,7.652ZM6.507,8.3C6.288,8.413 6.151,8.465 6.151,8.465C6.033,8.51 5.902,8.508 5.786,8.461C5.786,8.461 5.673,8.416 5.491,8.319C5.418,8.979 4.915,9.521 4.247,9.632C4.247,9.632 3.753,9.715 3.753,9.715C3.095,9.824 2.597,10.353 2.513,11L9.487,11C9.403,10.353 8.905,9.824 8.247,9.715C8.247,9.715 7.753,9.632 7.753,9.632C7.079,9.52 6.572,8.968 6.507,8.3ZM5.979,7.448C5.382,7.139 3.522,5.977 3.551,3.466C3.566,2.101 4.687,1.005 6.052,1.021C7.417,1.036 8.513,2.157 8.497,3.522C8.469,6.032 6.584,7.152 5.98,7.447L5.979,7.448Z"/>
            </svg>
            
        </div>
        <div class="drop-icon">
            <svg width="100%" height="100%" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                <g transform="matrix(1,0,0,0.769231,0,-0.346154)">
                    <path d="M0.164,5.481L5.664,11.981C5.854,12.206 6.146,12.206 6.336,11.981L11.836,5.481C12.041,5.24 12.056,4.828 11.87,4.563C11.684,4.297 11.368,4.278 11.164,4.519L6,10.622C6,10.622 0.836,4.519 0.836,4.519C0.632,4.278 0.316,4.297 0.13,4.563C-0.056,4.828 -0.041,5.24 0.164,5.481Z"/>
                </g>
            </svg>        
        </div>
        
        <div id="user-dropdown-menu" class="dropdown-menu">
            <div class="dropdown-header">
                <p class="user"><%=user%></p>
                <p class="email"><%=email%></p>
            </div>
            <div class="dropdown-settings">
                <label for="dark-mode">Dark Mode</label>
                    <input type="checkbox" name="dark-mode" id="toggle-dark-mode" class="toggle-switch">
            </div>
            <ul class="menu-items">
                <li class="menu-item">
                    <a href="/signout">signout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
