<div id="sidebar">
    <ul class="sidebar-items">
        <li class="sidebar-item"><a href="/u">Home</a></li>
        <li class="sidebar-item"><a href="/u/shared">Shared Images</a></li>
        <li class="sidebar-item"><a href="/u/albums">Ablums</a></li>
    </ul>
</div>