<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/forms.css">
    <title><%=site%> : <%=title%></title>
</head>
<body>
    <div id="container">
        <form id="form" action="/signup" method="post">
            <% for(var i = 0 ; i < message.length ; i++) {%>
                <div class="message-container">
                    <p class="message"><%=message[i]%></p>
                </div>
            <%}%>
            
            <h2 id="head-form"><%=title%></h2>

            <div class="input-container">
                <label for="username">Username:</label>
                <div class="icon">
                    <svg width="100%" height="100%" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <path d="M4.5,7.652L4.5,8.153C4.5,8.397 4.323,8.606 4.082,8.646L3.589,8.728C2.384,8.929 1.5,9.972 1.5,11.194C1.5,11.36 1.5,11.475 1.5,11.496C1.5,11.966 2,12 2,12L10,12C10,12 10.5,11.966 10.5,11.496L10.5,11.194C10.5,9.972 9.616,8.929 8.411,8.728L7.918,8.646C7.677,8.606 7.5,8.397 7.5,8.153L7.5,7.649C8.419,6.907 9.474,5.606 9.497,3.533C9.519,1.616 7.98,0.042 6.063,0.021C4.146,-0.001 2.572,1.538 2.551,3.455C2.527,5.562 3.587,6.896 4.5,7.652ZM6.507,8.3C6.288,8.413 6.151,8.465 6.151,8.465C6.033,8.51 5.902,8.508 5.786,8.461C5.786,8.461 5.673,8.416 5.491,8.319C5.418,8.979 4.915,9.521 4.247,9.632C4.247,9.632 3.753,9.715 3.753,9.715C3.095,9.824 2.597,10.353 2.513,11L9.487,11C9.403,10.353 8.905,9.824 8.247,9.715C8.247,9.715 7.753,9.632 7.753,9.632C7.079,9.52 6.572,8.968 6.507,8.3ZM5.979,7.448C5.382,7.139 3.522,5.977 3.551,3.466C3.566,2.101 4.687,1.005 6.052,1.021C7.417,1.036 8.513,2.157 8.497,3.522C8.469,6.032 6.584,7.152 5.98,7.447L5.979,7.448Z"/>
                    </svg>                    
                </div>
                <input type="text" name="username" id="txt-user-name" class="txt-box" placeholder="Enter your name" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required>
            </div>

            <div class="input-container">
                <label for="email">Email:</label>
                <div class="icon">
                    <svg width="100%" height="100%" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <path d="M9.094,10.547C8.212,11.148 7.147,11.5 6,11.5C2.964,11.5 0.5,9.036 0.5,6C0.5,2.964 2.964,0.5 6,0.5C9.036,0.5 11.5,2.964 11.5,6" style="fill:none;"/>
                        <path d="M9,7.254L9,3.5C9,3.224 8.776,3 8.5,3C8.224,3 8,3.224 8,3.5L8,3.765C7.469,3.289 6.768,3 6,3C4.344,3 3,4.344 3,6C3,7.656 4.344,9 6,9C6.864,9 7.643,8.634 8.191,8.048C8.273,8.209 8.381,8.358 8.511,8.489C8.839,8.816 9.283,9 9.746,9C9.747,9 9.747,9 9.748,9C10.992,9 12,7.992 12,6.748L12,6C12,2.689 9.311,0 6,0C2.689,0 0,2.689 0,6C0,9.311 2.689,12 6,12C7.251,12 8.414,11.616 9.376,10.96C9.603,10.804 9.662,10.493 9.507,10.265C9.351,10.037 9.04,9.978 8.812,10.134C8.011,10.68 7.042,11 6,11C3.24,11 1,8.76 1,6C1,3.24 3.24,1 6,1C8.76,1 11,3.24 11,6C11,6.005 11,6.01 11,6.016L11,6.748C11,7.439 10.439,8 9.748,8C9.747,8 9.747,8 9.746,8C9.548,8 9.358,7.921 9.218,7.781C9.079,7.642 9,7.452 9,7.254ZM6,4C7.104,4 8,4.896 8,6C8,7.104 7.104,8 6,8C4.896,8 4,7.104 4,6C4,4.896 4.896,4 6,4Z"/>
                    </svg>
                                    
                </div>
                <input type="email" name="email" id="txt-email" class="txt-box" placeholder="Enter your email" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required>
            </div>

            <div class="input-container">
                <label for="email_confirm">Confirm email:</label>
                <div class="icon">
                    <svg width="100%" height="100%" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <path d="M9.094,10.547C8.212,11.148 7.147,11.5 6,11.5C2.964,11.5 0.5,9.036 0.5,6C0.5,2.964 2.964,0.5 6,0.5C9.036,0.5 11.5,2.964 11.5,6" style="fill:none;"/>
                        <path d="M9,7.254L9,3.5C9,3.224 8.776,3 8.5,3C8.224,3 8,3.224 8,3.5L8,3.765C7.469,3.289 6.768,3 6,3C4.344,3 3,4.344 3,6C3,7.656 4.344,9 6,9C6.864,9 7.643,8.634 8.191,8.048C8.273,8.209 8.381,8.358 8.511,8.489C8.839,8.816 9.283,9 9.746,9C9.747,9 9.747,9 9.748,9C10.992,9 12,7.992 12,6.748L12,6C12,2.689 9.311,0 6,0C2.689,0 0,2.689 0,6C0,9.311 2.689,12 6,12C7.251,12 8.414,11.616 9.376,10.96C9.603,10.804 9.662,10.493 9.507,10.265C9.351,10.037 9.04,9.978 8.812,10.134C8.011,10.68 7.042,11 6,11C3.24,11 1,8.76 1,6C1,3.24 3.24,1 6,1C8.76,1 11,3.24 11,6C11,6.005 11,6.01 11,6.016L11,6.748C11,7.439 10.439,8 9.748,8C9.747,8 9.747,8 9.746,8C9.548,8 9.358,7.921 9.218,7.781C9.079,7.642 9,7.452 9,7.254ZM6,4C7.104,4 8,4.896 8,6C8,7.104 7.104,8 6,8C4.896,8 4,7.104 4,6C4,4.896 4.896,4 6,4Z"/>
                    </svg>
                    
                </div>
                <input type="email" name="email_confirm" id="txt-email" class="txt-box" placeholder="Confirm your email" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required>
            </div>

            <div class="input-container">
                <label for="password">Password:</label>
                <div class="icon">
                    <svg width="100%" height="100%" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <path d="M2.5,3.5C1.396,3.5 0.5,4.396 0.5,5.5L0.5,10C0.5,11.104 1.396,12 2.5,12L9.5,12C10.604,12 11.5,11.104 11.5,10L11.5,5.5C11.5,4.396 10.604,3.5 9.5,3.5L9.5,2.5C9.5,1.119 8.381,0 7,0L5,0C3.619,0 2.5,1.119 2.5,2.5L2.5,3.5ZM2.5,4.5L9.5,4.5C10.052,4.5 10.5,4.948 10.5,5.5L10.5,10C10.5,10.552 10.052,11 9.5,11C9.5,11 2.5,11 2.5,11C1.948,11 1.5,10.552 1.5,10L1.5,5.5C1.5,4.948 1.948,4.5 2.5,4.5ZM5.5,7.866L5.5,9.5C5.5,9.776 5.724,10 6,10C6.276,10 6.5,9.776 6.5,9.5L6.5,7.866C6.799,7.693 7,7.37 7,7C7,6.448 6.552,6 6,6C5.448,6 5,6.448 5,7C5,7.37 5.201,7.693 5.5,7.866ZM8.5,3.5L8.5,2.5C8.5,1.672 7.828,1 7,1C7,1 5,1 5,1C4.172,1 3.5,1.672 3.5,2.5L3.5,3.5L8.5,3.5Z"/>
                    </svg>
                                        
                </div>
                <input type="password" name="password" id="txt-password" class="txt-box" placeholder="Enter your password" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required>
            </div>

            <div class="input-container">
                <label for="password-confirm">Confirm password:</label>
                <div class="icon">
                    <svg width="100%" height="100%" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <path d="M2.5,3.5C1.396,3.5 0.5,4.396 0.5,5.5L0.5,10C0.5,11.104 1.396,12 2.5,12L9.5,12C10.604,12 11.5,11.104 11.5,10L11.5,5.5C11.5,4.396 10.604,3.5 9.5,3.5L9.5,2.5C9.5,1.119 8.381,0 7,0L5,0C3.619,0 2.5,1.119 2.5,2.5L2.5,3.5ZM2.5,4.5L9.5,4.5C10.052,4.5 10.5,4.948 10.5,5.5L10.5,10C10.5,10.552 10.052,11 9.5,11C9.5,11 2.5,11 2.5,11C1.948,11 1.5,10.552 1.5,10L1.5,5.5C1.5,4.948 1.948,4.5 2.5,4.5ZM5.5,7.866L5.5,9.5C5.5,9.776 5.724,10 6,10C6.276,10 6.5,9.776 6.5,9.5L6.5,7.866C6.799,7.693 7,7.37 7,7C7,6.448 6.552,6 6,6C5.448,6 5,6.448 5,7C5,7.37 5.201,7.693 5.5,7.866ZM8.5,3.5L8.5,2.5C8.5,1.672 7.828,1 7,1C7,1 5,1 5,1C4.172,1 3.5,1.672 3.5,2.5L3.5,3.5L8.5,3.5Z"/>
                    </svg>
                                        
                </div>
                <input type="password" name="password_confirm" id="txt-password" class="txt-box" placeholder="Confirm your password" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required>
            </div>

            <div class="input-container">
                <input type="submit" value="Sign Up" id="btn-submit", class="btn-submit">
            </div>

            <p class="link">Allready a member? <a href="/signin">Sign In here</a></p>
        </form>
    </div>
    <script src="./dark_mode.js"></script>
</body>
</html>