@import url(./root.css);

*{
    padding: 0;
    margin: 0;
}


html,body{
    height: 100%;
    width: 100%;
}

body{
    background: var(--background-body);
}

#nav-bar{
    height: var(--height-nav-bar);
    width: 100%;
    background: var(--background-nav-bar);
    box-shadow: var(--shadow-nav-bar);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    & .head-nav-bar{
        color: var(--color-header);
        font-family: var(--font);
        font-size: var(--font-size-header);
        margin: 0 0 0 10px;
    }
}

#container{
    height: calc(100% - 50px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-link{
    height: 40px;
    width: 125px;
    border: none;
    border-radius: var(--bdrs-input);
    background: var(--background-btn-submit);
    box-shadow: var(--shadow-btn-submit);
    color: var(--color-btn-submit);
    font-size: 15px;
    transition: background 0.3s ease;

    &:hover{
        background: var(--background-btn-submit-hover);
    }
}